
data/
*.bak
*.bak_*
_backups/
sv.db
sv.db.bak


addons/nova-defender-1.12.0/
addons/nova_ulx_bridge/
addons/zcity_nova_cmd/
**/sv_chechadefender_*.lua
**/cl_chechadefender_*.lua
**/sv_silkware_detector.lua
**/cl_silkware_detector.lua
**/sv_webhook_test.lua
**/sv_zb_slivfix.lua

.vscode/
.specstory/
.stfolder/
.stversions/
.stignore
.github/
.DS_Store
Thumbs.db
